# wifi/bluetooth
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_RTL8XXXU=y
CONFIG_RTL8XXXU_UNTESTED=y
#CONFIG_RTL8723BE=y
#CONFIG_R8712U=y
CONFIG_RTL_CARDS=y
CONFIG_RFKILL=y

CONFIG_BT=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=y

CONFIG_BT_HCIBTUSB=y
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_BT_HCIBTUSB_RTL=y
